@using BuisnessLogic.models
@{
    ViewData["Title"] = "Категории товаров";
}

<div class="text-center">
    <h1 class="display-4">Все категории товаров</h1>
</div>
@if (ViewBag.Categories == null)
{
    <div class="text-center" id="error-div">
        <h3 style="color: red">Ошибка отображения информации</h3>
    </div>
}
else
{
    <div class="column-md-18">
        <br>
        @if (ViewBag.Categories.Count == 0)
        {
            <div class="text-center" id="error-div">
                <h4>Категорий товаров нет</h4>
            </div>
        }
        <br>
        <form method="get" asp-controller="Admin" asp-action="CategoryCreate">
            <button type="submit" style="width: 20%; margin-left: 40%" class="btn-primary">
                Добавить категорию
            </button>
        </form>
        <br>
        @foreach (var elem in (ViewBag.Categories as List<Category>))
        {
            <div class="column-md-16" style="border-style: solid; border-width: 2px; align-content: center; width: 50%; margin: 0 auto">
                <div class="text-center" style="font-size: 18px">
                    <a asp-controller="Admin" asp-action="Category" asp-route-id=@elem.Id>Категория номер @elem.Id</a>
                </div>
                <div class="text-center">
                    Название: @elem.Name
                </div>
            </div>
            <br>
            <br>
        }
    </div>
}