@using BuisnessLogic.models
@model Category
@{
    ViewData["Title"] = "Категория товаров - редактирование";
}

<div class="text-center">
    <h1 class="display-4">Категория товаров</h1>
</div>
@if (Model == null)
{
    <div class="text-center" id="error-div">
        <h3 style="color: red">Ошибка отображения информации</h3>
    </div>
}
else
{
    <div class="column-md-18">
        <form method="post" asp-controller="Admin" asp-action="CategoryEdit" asp-route-id=@Model.Id>
        <div class="column-md-16" style="border-style: solid; border-width: 2px; align-content: center; width: 50%; margin: 0 auto">
            <div class="text-center" style="font-size: 18px">
                Категория товаров номер @Model.Id
            </div>
            <div class="text-center">
                Название:
                <input class="form-control" type="text" name="name" value="@Model.Name" required />
            </div>
        </div>
        <br>
        <button type="submit" style="width: 20%; margin-left: 40%" class="btn-primary">
            Изменить
        </button>
        </form>
    </div>
}